* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'UTM-Neutra';
    src: url("../css/font/UTM-Neutra.ttf"); /* Đường dẫn đến font trong thư mục font */
}
html {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    /* font-family: 'UTM-Neutra', Arial, sans-serif;  */
}


header {
    background-color:#000;
    display: block;
    height: 60px;
    padding: 10px;
    align-items: center;

}
#webName {
    padding-left: 10px;
    color: #fff;
    text-transform: uppercase;
    font-size: large;
}
.label {
    font-size: 20px;
    margin-bottom: 10px;
    display: block;
}
input {
    margin-bottom: 30px;
}
textarea {
    margin-bottom: 30px;
}
nav {
    background-color: #aaa;
}
main {
    display: flex;
    max-height: max-content;
}
.leftCol{
    flex: 1; /* Chiếm 50% chiều rộng */
    background-color: #f2f2f2;
    padding: 20px;
}

.rightCol {
    flex: 1; /* Chiếm 50% chiều rộng */
    background-color: #e6e6e6;
    padding: 20px;
}

h1 {
    display: inline-block;
    align-items: center;
    justify-content: center;
    line-height: 1;
}

#logo {
    max-width: 50px;
    height: 100%;
}

#imagePreview {
    display: none; /* Ẩn hình ảnh preview mặc định */
    max-width: 300px; /* Kích thước tối đa của hình ảnh preview */
    margin-top: 10px; /* Khoảng cách giữa input và hình ảnh preview */
}

#previewText {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
    min-height: 50px; /* Đảm bảo chiều cao tối thiểu cho phần preview */
    display: block; /* Đảm bảo rằng nó luôn hiển thị */
}
#newsInput {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
    min-height: 200px; /* Đảm bảo chiều cao tối thiểu cho phần preview */
    width: 100%;
    display: block; /* Đảm bảo rằng nó luôn hiển thị */
}

#newsTitle {
    padding: 10px;
    width: 300px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
}

#newsTitle:focus {
    border-color: #4a90e2; /* Màu khi focus */
    outline: none; /* Xóa viền mặc định */
}

#imageCanvas {
    display: none; /* Ẩn hình ảnh preview mặc định */
    max-width: 80%; /* Kích thước tối đa của hình ảnh preview */
    margin-top: 10px; /* Khoảng cách giữa input và hình ảnh preview */
}

#captionPreview {
    margin-top: 20px;
    font-size: 15px;
    color: #333;
    border: 1px dashed #aaa;
    padding: 10px;
    min-height: 50px;
    width: 80%;
    text-align: left;
    word-wrap: break-word;
    white-space: pre-wrap; /* Giữ nguyên khoảng trắng và xuống dòng */
}

#imageContainer {
    border: 2px dashed #ccc;
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    position: relative;
    cursor: pointer;
}
#clearImgBtn {
    display: none;
}